/*#region  Three-column-video*/
  /* LG */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .story-desc {
      min-height: 189px;
    }
  }

  /* XL */
  @media only screen and (min-width: 1200px) {
    .story-desc {
      min-height: 165px;
    }
  }

  .video-box {
    position: absolute;
    width: 100%;
    height: 100%;
    /* max-height: 180.08px; */
    cursor: pointer;
    max-width: 90% !important;
    padding-right: 25px !important;
    overflow: hidden !important;
    box-sizing: inherit !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 8px !important;
  }

  .video-box::after {
    display: none;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='24.8579' cy='25.0001' rx='13.2425' ry='13.2243' fill='white'/%3E%3Cpath d='M24.5002 0.819458C11.3292 0.819458 0.639771 11.4942 0.639771 24.6471C0.639771 37.7999 11.3292 48.4747 24.5002 48.4747C37.6711 48.4747 48.3606 37.7999 48.3606 24.6471C48.3606 11.4942 37.6711 0.819458 24.5002 0.819458ZM19.7281 35.3695V13.9247L34.0443 24.6471L19.7281 35.3695Z' fill='%235286F7'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    pointer-events: none;
    z-index: 10;
  }

  @media only screen and (max-width: 551px) {
    .video-box::after {
      width: 24px;
      height: 24px;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
    }
  }

  @media only screen and (min-width: 650px) {
    .video-box::after {
      width: 62px;
      height: 62px;
      top: calc(50% - 31px);
      left: calc(50% - 31px);
    }
  }
  /*#endregion  Three-column-video*/

  /*#region  Slideshow */
  .carousel-control-prev-icon,
  .carousel-control-next-icon{
      width: 40px;
      height: 40px;
      background-image: url('../eddie-pdp/img/slider-control.png');
  }
  .carousel-control-next-icon{
    transform: rotate(180deg);
  }

  .carousel-indicators li{
    width: 13px;
    height: 13px;
  }
   /*#endregion  Slideshow */

   /*#region  Bullet Img Right */

  /* circle number bullets */
.blue-circles li:before {
    background: #3185fc;
}

ol.circle-number-bullets {
    list-style: none;
}

.circle-number-bullets li {
    counter-increment: step-counter;
    position: relative;
}

.circle-number-bullets li:before {
    content: counter(step-counter);
    display: block;
    position: absolute;
    top: -1px;
    /* Adjust < -number | number+ > */
    left: -39px;
    width: 1.75rem;
    height: 1.75rem;
    line-height: 1.75rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border-radius: 100%;
}

.bg-blue-eddie{
  /* color for image bg */
  background-color: rgba(22, 28, 69, 1);
}
   /*#endregion  Bullet Img Right */

  /*#region  Carousel Right */ 
   .carousel-control-prev-icon,
   .carousel-control-next-icon{
       width: 40px;
       height: 40px;
       background-image: url('../eddie-pdp/img/slider-control.png');
   }
   .carousel-control-next-icon{
     transform: rotate(180deg);
   }
   /*#endregion Carousel Right */
 
    /*#region  Three Img Bullets */ 
    /* XS */
    @media only screen and (min-width: 375px) {
      .ul-bullets{
            padding-inline-start: 3px; 
        }
    }

    @media only screen and (min-width: 500px) {
      .ul-bullets{
        padding-inline-start: 40px; 

        }
    }
    /*#endregion Three Img Bullets */

    /*#region  Gif Bg */
    /* XS */
    @media only screen and (max-width: 575px) {
        .img-overlay-4{height: 112vw;}
        .img-overlay-4 .row{
        background-image: url('../eddie-img-bg/img/gif-xs-img.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    };
        }

    /* SM */
    @media only screen and (min-width: 576px) {
        .img-overlay-4{height: 86vw;}
        /* .img-overlay-4 img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay-4 .row{
            background-image: url('../eddie-img-bg/img/gif-sm-img.png');
            background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
    }

    /* MD */
    @media only screen and (min-width: 768px) {
        .img-overlay-4{height: 86vw;}
        /* .img-overlay-4 img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay-4 .row{
            background-image: url('../eddie-img-bg/img/gif-md-img.png');
         
        }
    }

    /* LG */
    @media only screen and (min-width: 992px) {
        .img-overlay-4{
            height: 27vw;
            max-height: 322px;
        }
        .img-overlay-4 .row{
            background-image: url('../eddie-img-bg/img/gif-lg-img.png');
            background-size: contain;
        }
    }

    /* XL */
    @media only screen and (min-width: 1200px) {
        .img-overlay-4 .row{
            background-image: url('../eddie-img-bg/img/gif-xl-img.png');
        }
    }
    /*#endregion  Gif Bg */

    /*#region  Live Care Bg */ 
    #live-care-btn{
        border-width: medium;
    }

 /* LG */
 @media only screen and (min-width: 992px) {
    #live-care-p{
            max-width: 370px;
        }
    }

    /* Code for IMAGES */
    /* XS */
    @media only screen and (max-width: 575px) {
        .img-overlay-3{height: 112vw;}
        .img-overlay-3 .row{
        background-image: url('../eddie-img-bg/img/care-advisor-xs-img.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    };
        }

    /* SM */
    @media only screen and (min-width: 576px) {
        .img-overlay-3{height: 86vw;}
        /* .img-overlay-3 img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay-3 .row{
            background-image: url('../eddie-img-bg/img/care-advisor-sm-img.png');
            background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
    }

    /* MD */
    @media only screen and (min-width: 768px) {
        .img-overlay-3{height: 86vw;}
        /* .img-overlay-3 img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay-3 .row{
            background-image: url('../eddie-img-bg/img/care-advisor-md-img.png');
         
        }
    }

    /* LG */
    @media only screen and (min-width: 992px) {
        .img-overlay-3{
            height: 27vw;
            max-height: 322px;
        }
        .img-overlay-3 .row{
            background-image: url('../eddie-img-bg/img/care-advisor-lg-img.png');
            background-size: contain;
        }
    }

    /* XL */
    @media only screen and (min-width: 1200px) {
        .img-overlay-3 .row{
            background-image: url('../eddie-img-bg/img/care-advisor-img.png');
        }
    }

    /*#endregion  Live Care Bg*/

    /*#region  Man Women Bg */
    /* XS */
    @media only screen and (max-width: 575px) {
        .img-overlay{height: 112vw;}
        .img-overlay .row{
        background-image: url('../eddie-img-bg/img/eddie-man-mobile-img.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    };
        }

    /* SM */
    @media only screen and (min-width: 576px) {
        .img-overlay{height: 86vw;}
        /* .img-overlay img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay .row{
            background-image: url('../eddie-img-bg/img/eddie-man-sm.jpg');
            background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
    }

    /* MD */
    @media only screen and (min-width: 768px) {
        .img-overlay{height: 86vw;}
        /* .img-overlay img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay .row{
            background-image: url('../eddie-img-bg/img/eddie-man-sm.jpg');
         
        }
    }

    /* LG */
    @media only screen and (min-width: 992px) {
        .img-overlay{
            height: 27vw;
            max-height: 322px;
        }
        .img-overlay .row{
            background-image: url('../eddie-img-bg/img/eddie-man-women-img.jpg');
            background-size: contain;
        }
    }

    /* XL */
    @media only screen and (min-width: 1200px) {
        .img-overlay .row{
            background-image: url('../eddie-img-bg/img/eddie-man-women-img.jpg');
        }
    }
    /*#endregion  Man Women Bg*/

    /*#region  Product Man */
    /* XS */
    @media only screen and (max-width: 575px) {
        .img-overlay-2{height: 112vw;}
        .img-overlay-2 .row{
        background-image: url('../eddie-img-bg/img/product-box-img.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    };
        }

    /* SM */
    @media only screen and (min-width: 576px) {
        .img-overlay-2{height: 86vw;}
        /* .img-overlay-2 img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay-2 .row{
            background-image: url('../eddie-img-bg/img/product-box-sm-img.png');
            background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
    }

    /* MD */
    @media only screen and (min-width: 768px) {
        .img-overlay-2{height: 86vw;}
        /* .img-overlay-2 img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay-2 .row{
            background-image: url('../eddie-img-bg/img/product-box-md-img.png');
         
        }
    }

    /* LG */
    @media only screen and (min-width: 992px) {
        .img-overlay-2{
            height: 27vw;
            max-height: 322px;
        }
        .img-overlay-2 .row{
            background-image: url('../eddie-img-bg/img/man-product-box-img.png');
            background-size: contain;
        }
    }

    /* XL */
    @media only screen and (min-width: 1200px) {
        .img-overlay-2 .row{
            background-image: url('../eddie-img-bg/img/man-product-box-2x-img.png');
        }
    }
    /*#endregion  Product Man */

    /*#region Three Img Right  */ 
    .hero-blue-bg{
      background-color: rgba(9, 33, 55, 1);
    }
    /*#endregion Three Img Right */

    /*#region  Two Img RIght */ 
    .hero-blue-bg{
      background-color: rgba(9, 33, 55, 1);
    }
    /*#endregion  Two Img Right */

    /*#region Eddie Four Img Grid */ 
    @media only screen and (min-width: 576px) {
      .hew-content div {max-width: 47%;}
    }
  
    @media only screen and (min-width: 992px) {
      .hew-content div {max-width: 23%;}
    }
    /*#endregion Eddie Four Img Grid */

    /*#region  Eddie Eight Img Grid */ 
    @media only screen and (min-width: 576px) {
      .hew-content div {max-width: 47%;}
    }
  
    @media only screen and (min-width: 992px) {
      .hew-content div {max-width: 23%;}
    }
    /*#endregion Eddie Eight Img Grid */

    /*#region  Jumbo Tron Icons */ 
   
    /*#region  Whats in the Box */
    @media only screen and (min-width: 992px) {
      #witb-img{
          content: url('../eddie-pdp/img/Flat-lay-desktop.png');
      }
  } 
    /*#endregion Whats in the Box */

     /*#region  Slider Left Info Right */
     #pdp-slider-pag-1{
      background-image: url('../eddie-pdp/img/1st-image.png');
      background-size: contain;
  }
  #pdp-slider-pag-2{
      background-image: url('../eddie-pdp/img/2nd-image.jpg');
      background-size: contain;
  }
  #pdp-slider-pag-3{
      background-image: url('../eddie-pdp/img/3rd-image.gif');
      background-size: contain;
  }
  #pdp-slider-pag-4{
      background-image: url('../eddie-pdp/img/4th-image.jpg');
      background-size: contain;
  }
  #pdp-slider-pag-5{
      background-image: url('../eddie-pdp/img/5th-image.jpg');
      background-size: contain;
  }

  #pdp-slider-acc .card-header {
      background-color: white;
      border: none;
      padding-left: 0;
  }
  #pdp-slider-acc .card {
      border: none;
  }
  .fas{
      color: #5286F7;
      font-size: 1em;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon{
      width: 40px;
      height: 40px;
      background-image: url('../eddie-pdp/img/slider-control.png');
  }
  .carousel-control-next-icon{
    transform: rotate(180deg);
  }
  /* SM */
  @media only screen and (min-width: 576px){
      
  }

  /* MD */
  @media only screen and (min-width: 768px) {
      
  }

  /* LG */
  @media only screen and (min-width: 992px) {
      .pdp-slider-inner{
          border-radius: 15px;
      }        

      .carousel-indicators{
          bottom: -120px;
      }

      .carousel-indicators li{
          width: 7vw;
          height: 7vw;

          max-width: 84px;
          max-height: 84px;

          flex: 1 0 auto;
          background-color: #aaa;
      }
  }

  /* XL */
  @media only screen and (min-width: 1200px) { 

  }
    /*#endregion  Slider Left Info Right */

     /*#region  Eddie Reviews */
     .cr-active{
      color: #000 !important;
  }
  .cr-page-num:hover, .cr-pag-next:hover, .cr-pag-prev:hover{
      cursor: pointer;
  }
  .star-rating-4{
      content: url('../eddie-pdp/img/4stars.svg');
      width: fit-content;
  }
  .star-rating-3{
      content: url('../eddie-pdp/img/3stars.svg');
      width: fit-content;
  } 
    /*#endregion  Eddie Reviews */

    /*#region  Prostate Health PDP */

    #pdp-slider-pag-1{
        background-image: url('../eddie-pdp/img/1st-image.png');
        background-size: contain;
    }
    #pdp-slider-pag-2{
        background-image: url('../eddie-pdp/img/2nd-image.jpg');
        background-size: contain;
    }
    #pdp-slider-pag-3{
        background-image: url('../eddie-pdp/img/3rd-image.gif');
        background-size: contain;
    }
    #pdp-slider-pag-4{
        background-image: url('../eddie-pdp/img/4th-image.jpg');
        background-size: contain;
    }
    #pdp-slider-pag-5{
        background-image: url('../eddie-pdp/img/5th-image.jpg');
        background-size: contain;
    }

    #pdp-slider-acc .card-header {
        background-color: white;
        border: none;
        padding-left: 0;
    }
    #pdp-slider-acc .card {
        border: none;
    }
    .fas{
        color: #5286F7;
        font-size: 1em;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        width: 40px;
        height: 40px;
        background-image: url('../eddie-pdp/img/slider-control.png');
    }
    .carousel-control-next-icon{
      transform: rotate(180deg);
    }
    /* SM */
    @media only screen and (min-width: 576px){
        
    }

    /* MD */
    @media only screen and (min-width: 768px) {
        
    }

    /* LG */
    @media only screen and (min-width: 992px) {
        .pdp-slider-inner{
            border-radius: 15px;
        }        

        .carousel-indicators{
            bottom: -120px;
        }

        .carousel-indicators li{
            width: 7vw;
            height: 7vw;

            max-width: 84px;
            max-height: 84px;

            flex: 1 0 auto;
            background-color: #aaa;
        }
    }

    /* XL */
    @media only screen and (min-width: 1200px) {
        
    }
    
    /*#endregion Prostate Health PDP  */

     /*#region FS Bullet Img Right 2  */
       /* circle number bullets */
  .blue-circles li:before {
    background: #f85f5e;
}

ol.circle-number-bullets {
    list-style: none;
}

.circle-number-bullets li {
    counter-increment: step-counter;
    position: relative;
}

.circle-number-bullets li:before {
    content: counter(step-counter);
    display: block;
    position: absolute;
    top: -1px;
    /* Adjust < -number | number+ > */
    left: -39px;
    width: 1.75rem;
    height: 1.75rem;
    line-height: 1.75rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border-radius: 100%;
}
    /*#endregion  FS Bullet Img Right 2 */

     /*#region  Go Deeper */
     @media only screen and (min-width: 768px) {
        .img-hiw{
          max-width: 390px;
        }
        
        .w-30{
            width: 30%;
            max-width: unset;
            margin: 0;
            flex: none;
        } 
      }
    /*#endregion Go Deeper */

     /*#region Cust Story */
    /* LG */
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .story-desc {
        min-height: 189px;
      }
    }

    /* XL */
    @media only screen and (min-width: 1200px) {
      .story-desc {
        min-height: 165px;
      }
    }

    .video-box {
      position: absolute;
      width: 100%;
      height: 100%;
      /* max-height: 180.08px; */
      cursor: pointer;
      max-width: 90% !important;
      padding-right: 25px !important;
      overflow: hidden !important;
      box-sizing: inherit !important;
      margin-left: auto !important;
      margin-right: auto !important;
      border-radius: 8px !important;
    }

    .video-box::after {
      display: none;
      content: "";
      width: 40px;
      height: 40px;
      background-image: url("data:image/svg+xml,%3Csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='24.8579' cy='25.0001' rx='13.2425' ry='13.2243' fill='white'/%3E%3Cpath d='M24.5002 0.819458C11.3292 0.819458 0.639771 11.4942 0.639771 24.6471C0.639771 37.7999 11.3292 48.4747 24.5002 48.4747C37.6711 48.4747 48.3606 37.7999 48.3606 24.6471C48.3606 11.4942 37.6711 0.819458 24.5002 0.819458ZM19.7281 35.3695V13.9247L34.0443 24.6471L19.7281 35.3695Z' fill='%235286F7'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      pointer-events: none;
      z-index: 10;
    }

    @media only screen and (max-width: 551px) {
      .video-box::after {
        width: 24px;
        height: 24px;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
      }
    }

    @media only screen and (min-width: 650px) {
      .video-box::after {
        width: 62px;
        height: 62px;
        top: calc(50% - 31px);
        left: calc(50% - 31px);
      }
    }

    /*#endregion Cust Story  */

    /*#region  Whats in the Box */
     /* LG */
     @media only screen and (min-width: 992px) {
        #witb-img{
            content: url('../eddie-pdp/img/Flat-lay-desktop.png');
        }
    }
    /*#endregion Whas in the Box */

    /*#region Slider Left Info Right */

    #pdp-slider-pag-1{
        background-image: url('../eddie-pdp/img/1st-image.png');
        background-size: contain;
    }
    #pdp-slider-pag-2{
        background-image: url('../eddie-pdp/img/2nd-image.jpg');
        background-size: contain;
    }
    #pdp-slider-pag-3{
        background-image: url('../eddie-pdp/img/3rd-image.gif');
        background-size: contain;
    }
    #pdp-slider-pag-4{
        background-image: url('../eddie-pdp/img/4th-image.jpg');
        background-size: contain;
    }
    #pdp-slider-pag-5{
        background-image: url('../eddie-pdp/img/5th-image.jpg');
        background-size: contain;
    }

    #pdp-slider-acc .card-header {
        background-color: white;
        border: none;
        padding-left: 0;
    }
    #pdp-slider-acc .card {
        border: none;
    }
    .fas{
        color: #5286F7;
        font-size: 1em;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        width: 40px;
        height: 40px;
        background-image: url('../eddie-pdp/img/slider-control.png');
    }
    .carousel-control-next-icon{
      transform: rotate(180deg);
    }
    /* SM */
    @media only screen and (min-width: 576px){
        
    }

    /* MD */
    @media only screen and (min-width: 768px) {
        
    }

    /* LG */
    @media only screen and (min-width: 992px) {
        .pdp-slider-inner{
            border-radius: 15px;
        }        

        .carousel-indicators{
            bottom: -120px;
        }

        .carousel-indicators li{
            width: 7vw;
            height: 7vw;

            max-width: 84px;
            max-height: 84px;

            flex: 1 0 auto;
            background-color: #aaa;
        }
    }

    /* XL */
    @media only screen and (min-width: 1200px) {
        
    }
    /*#endregion Slider Left Info Right  */

    /*#region Eddie Reviews  */
    .cr-active{
        color: #000 !important;
    }
    .cr-page-num:hover, .cr-pag-next:hover, .cr-pag-prev:hover{
        cursor: pointer;
    }
    .star-rating-4{
        content: url('../eddie-pdp/img/4stars.svg');
        width: fit-content;
    }
    .star-rating-3{
        content: url('../eddie-pdp/img/3stars.svg');
        width: fit-content;
    }
    /*#endregion Eddie Reviews */

    /*#region  FAQ/Support  */
.support-style input, .support-style textarea, .support-style button, .support-style select, .support-style a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.support-style .mid-width-layout {
  width: 90%;
}
@media (min-width: 801px) {
  .support-style .mid-width-layout {
    width: 80%;
  }
}
@media only screen and (min-width: 1065px) {
  .support-style .mid-width-layout {
    width: 60%;
  }
}
.support-style .button-box {
  width: 60%;
  display: block;
  margin-top: 2rem;
}
.support-style .button-box .faq-nav {
  text-align: center;
  width: 100%;
}
.support-style .button-box .faq-nav a {
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
}
.support-style .button-box .faq-nav a::after {
  content: "|";
  margin: 0px 15px;
}
.support-style .button-box .faq-nav a:last-child::after {
  content: "";
  margin: none;
}
@media (min-width: 801px) {
  .support-style .button-box .faq-nav a {
    font-size: 21px;
    line-height: 22px;
  }
}
.support-style .button-box .faq-nav a.active {
  font-weight: 700;
}
.support-style .button-box .faq-nav a:focus {
  color: #333;
}
.support-style .button-box button {
  transition: 0.03s;
  font-family: Slate Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8B97B4;
  border-bottom: 3px solid #6B7389;
}
@media (min-width: 1261px) {
  .support-style .button-box button {
    font-size: 18px;
  }
}
.support-style .button-box button:hover {
  color: #27366A;
  transition: 0.03s;
}
.support-style .button-box .one-fourth {
  width: 25%;
  padding: 1em 0em;
}
.support-style .mobile-button-box:after {
  content: "▾";
  color: #5286F7;
  right: 10px;
  top: 0px;
  padding: 12px 0px 0px 8px;
  position: absolute;
  pointer-events: none;
}
.support-style .mobile-button-box {
  width: 285px;
  margin: 0 auto;
  flex-wrap: wrap;
  position: relative;
  margin-top: 3em;
  display: none;
}
.support-style .mobile-button-box select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  height: 50px;
  margin: 1em auto;
  padding: 0px 24px;
  font-family: Slate Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  -ms-word-break: normal;
  word-break: normal;
}
.support-style .mobile-button-box select option {
  font-family: Slate Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  position: absolute;
  bottom: 0px;
}
.support-style #support-Search-Result {
  display: none;
  padding-bottom: 3em;
}
.support-style #support-Search-Result .faq-nav {
  text-align: center;
  width: 100%;
  padding-top: 20px;
}
.support-style #support-Search-Result .faq-nav a {
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
}
.support-style #support-Search-Result .faq-nav a::after {
  content: "|";
  margin: 0px 15px;
}
.support-style #support-Search-Result .faq-nav a:last-child::after {
  content: "";
  margin: none;
}
@media (min-width: 801px) {
  .support-style #support-Search-Result .faq-nav a {
    font-size: 21px;
    line-height: 22px;
  }
}
.support-style #support-Search-Result .faq-nav a.active {
  font-weight: 700;
}
.support-style #support-Search-Result .faq-nav a:focus {
  color: #333;
}
.support-style #support-Search-Result h1 {
  font-family: Slate Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #161C45;
}
.support-style #support-Search-Result a {
  text-decoration: none;
}
.support-style #support-Search-Result #badSearch {
  display: none;
}
.support-style #support-Search-Result #badSearch h4 {
  font-family: Slate Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #282828;
  text-align: center;
}
.support-style #support-Search-Result #badSearch p {
  width: 80%;
  font-family: Slate Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #282828;
  text-align: center;
  margin: 0px auto;
}
.support-style #support-Search-Result button {
  transition: 0.3s;
  display: block;
  color: #5286F7;
  border-radius: 4px;
  padding: 16px 40px;
  margin: 2rem auto;
  font-family: Slate Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid #5286F7;
}
.support-style #support-Search-Result button:hover {
  transition: 0.3s;
  background: #5286F7;
  color: #FFFFFF;
  border: 1px solid #5286F7;
}
.support-style #support-Search-Result button:active {
  transition: 0.3s;
  background: #3E6CD0;
  border: 1px solid #3E6CD0;
}

.support-style .more-info-section {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  display: flex;
  flex-direction: column;
}
.support-style .more-info-section#more-info-section {
  position: unset;
  margin-left: unset;
  left: unset;
}
.support-style .more-info-section .see-faq-btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5%;
}
.support-style .more-info-section .see-faq-btn button {
  background-color: unset;
  color: #8B97B4 !important;
  border: solid 1px #8B97B4 !important;
}
.support-style .more-info-section .see-faq-btn button:hover, .support-style .more-info-section .see-faq-btn button:focus {
  color: white !important;
  border: solid 1px #5286F7 !important;
}
.support-style .more-info-section .last {
  border-bottom: 1px solid #DDDDDD;
}
.support-style .more-info-section .more-info-header h2 {
  padding-bottom: 1em;
  font-family: Slate Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #282828;
}
@media only screen and (min-width: 650px) {
  .support-style .more-info-section .more-info-header h2 {
    font-size: 32px;
    line-height: 36px;
  }
}
@media only screen and (min-width: 1065px) {
  .support-style .more-info-section .more-info-header h2 {
    font-size: 48px;
    line-height: 48px;
  }
}
.support-style .more-info-section .more-info-block {
  width: 90%;
  margin: auto;
  border-top: 1px solid #DDDDDD;
  padding: 1em 0em;
  font-size: 20px;
  line-height: 24px;
}
.support-style .more-info-section .more-info-block:first-of-type {
  border-top: none;
}
@media (min-width: 801px) {
  .support-style .more-info-section .more-info-block {
    width: 80%;
  }
}
@media only screen and (min-width: 1065px) {
  .support-style .more-info-section .more-info-block {
    width: 60%;
  }
}
.support-style .more-info-section .more-info-block .more-info-button {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 24px;
}
.support-style .more-info-section .more-info-block .more-info-button h3 {
  color: #282828;
  margin: 0px;
  width: 100%;
  text-align: left;
  font-family: Slate Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 551px) {
  .support-style .more-info-section .more-info-block .more-info-button h3 {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
}
@media only screen and (min-width: 1065px) {
  .support-style .more-info-section .more-info-block .more-info-button h3 {
    font-size: 24px;
    line-height: 42px;
  }
}
.support-style .more-info-section .more-info-block sup {
  font-size: 60%;
}
.support-style .more-info-section .more-info-block span:after {
  content: "+";
  float: right;
  font-family: Slate Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #000000;
}
.support-style .more-info-section .more-info-block ul, .support-style .more-info-section .more-info-block ol {
  margin-left: 3em;
  margin-right: 3em;
  font-family: Slate Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.support-style .more-info-section .more-info-block p {
  margin: 1em;
  font-family: Slate Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.support-style .more-info-section .more-info-block.aboutEddie, .support-style .more-info-section .more-info-block.using-eddie, .support-style .more-info-section .more-info-block.shipping, .support-style .more-info-section .more-info-block.orders {
  width: 90%;
}
.support-style .more-info-section .active span:after {
  content: "-";
}
.support-style .more-info-section a {
  color: #5286F7;
  text-decoration: none;
}
.support-style .more-info-section a:hover {
  text-decoration: underline;
}
.support-style .more-info-section .faq-cta {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}
.support-style .more-info-section .faq-cta button {
  border: 1px solid #5286F7;
  border-radius: 4px;
  padding: 16px 48px;
  color: #5286F7;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: Slate Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  transition: 0.3s;
}
.support-style .more-info-section .faq-cta button:hover {
  transition: 0.3s;
  background: #5286F7;
  color: #fff;
}
.support-style .more-info-section .faq-cta button:active {
  transition: 0.3;
  background: #3E6CD0;
  color: #fff;
}
.support-style .more-info-section .more-info-content {
  display: none;
}
.support-style .more-info-section .more-info-content ol li {
  margin-left: 1.15rem;
}
.support-style .contact-us .compact-contact {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 97px;
}
@media (min-width: 801px) {
  .support-style .contact-us .compact-contact {
    width: auto;
    padding: 0 6rem;
    display: flex;
    margin-bottom: 124px;
  }
}
.support-style .contact-us .contact-us-info {
  width: 100%;
}
@media (min-width: 801px) {
  .support-style .contact-us .contact-us-info #contact-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
}
@media (min-width: 801px) {
  .support-style .contact-us .contact-us-info {
    width: 50%;
  }
}
.support-style .contact-us .contact-us-info h2 {
  font-family: Slate Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.02em;
  max-width: 543px;
}
@media (min-width: 801px) {
  .support-style .contact-us .contact-us-info h2 {
    font-size: 48px;
    line-height: 48px;
    margin-top: 0px;
  }
}
.support-style .contact-us .contact-us-info p {
  font-family: Slate Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #686F77;
  max-width: 543px;
}
.support-style .contact-us .contact-us-info p b {
  color: #282828;
}
@media (min-width: 801px) {
  .support-style .contact-us .contact-us-info p {
    font-size: 20px;
    line-height: 24px;
  }
}
.support-style .contact-us .contact-us-info p.cta-below {
  margin-bottom: 0.5rem;
}
@media (min-width: 801px) {
  .support-style .contact-us .contact-us-info p.cta-below {
    margin-bottom: 1.5rem;
  }
}
.support-style .contact-us .contact-us-info a {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 12px;
}
@media (min-width: 801px) {
  .support-style .contact-us .contact-us-info a {
    font-size: 14px;
    padding: 0.8rem 2rem;
  }
}
.support-style .contact-us .contact-us-info a:hover:not(#no-hover) {
  transition: 0.3s;
  background: #FF3635;
  color: #FFFFFF;
}
.support-style .contact-us .contact-us-info a:active {
  transition: 0.3s;
  background: #BC4A4A;
}
.support-style .contact-us .contact-us-form {
  margin-top: 1.5rem;
  width: 100%;
}
.support-style .contact-us .contact-us-form form .custom-select-container:after {
  color: #5286F7;
  right: 10px;
  top: 11px;
}
.support-style .contact-us .contact-us-form form .custom-select-container select.custom-select {
  padding: 0.37rem 0.5rem;
  height: 2rem;
  color: #6D6D6D;
  line-height: 100%;
}
@media (min-width: 801px) {
  .support-style .contact-us .contact-us-form {
    width: 50%;
    padding-left: 15px;
  }
}
.support-style .contact-us .contact-us-form input:not(.button--primary), .support-style .contact-us .contact-us-form select, .support-style .contact-us .contact-us-form textarea {
  background-color: rgba(139, 151, 180, 0.1);
  border: none !important;
}
.support-style .contact-us .contact-us-form .form-flex input, .support-style .contact-us .contact-us-form .form-flex div {
  width: 100% !important;
  display: block !important;
  margin-bottom: 28px;
}
@media (min-width: 801px) {
  .support-style .contact-us .contact-us-form .form-flex {
    display: flex;
    justify-content: space-between;
  }
  .support-style .contact-us .contact-us-form .form-flex input, .support-style .contact-us .contact-us-form .form-flex div {
    width: 48% !important;
  }
}
.support-style .support-block {
  /* Style the navigation menu inside the left column */
}
.support-style .support-block .faq-Search-Header {
  display: flex;
  width: 100vw;
  flex-direction: column;
  padding-top: 2rem;
  text-align: center;
}
.support-style .support-block .faq-Search-Header h2 {
  width: 100%;
  margin-bottom: 0.75em;
  font: bold 30px/32px Slate Pro;
}
@media (min-width: 801px) {
  .support-style .support-block .faq-Search-Header h2 {
    font: bold 36px/32px Slate Pro;
  }
}
.support-style .support-block .faq-Search-Header input[type=text], .support-style .support-block .faq-Search-Header input[type], .support-style .support-block .faq-Search-Header textarea, .support-style .support-block .faq-Search-Header select {
  outline: none;
}
.support-style .support-block .faq-Search-Header #search-box {
  width: 100%;
  position: relative;
  max-width: 844px;
}
.support-style .support-block .faq-Search-Header #search-box #faqSearch {
  display: block;
  width: 100%;
  height: 48px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
  background-color: rgba(139, 151, 180, 0.1);
  max-width: 844px;
  margin: auto;
}
.support-style .support-block .faq-Search-Header #search-box #faqsearch-button {
  position: absolute;
  margin: auto;
  justify-content: right;
  text-align: end;
  top: 20%;
  right: 0px;
}
.support-style .support-block #supportList .faqTitle h2 {
  color: #3185FC;
  font: bold 20px/24px Slate Pro;
  margin-top: 1rem;
  padding: 1rem 1rem 0rem;
  border-top: #ffffff solid 3px;
}
.support-style .support-block #supportList .faQuestion-plus h2 {
  font: 500 18px/22px Slate Pro;
  color: #161C45;
  margin-top: 1rem;
  cursor: pointer;
}
.support-style .support-block #supportList .faQuestion-plus ::before {
  content: "+"; /* Insert content that looks like bullets */
  margin-right: 8px;
  color: #161C45;
}
.support-style .support-block #supportList .faQuestion-minus h2 {
  font: 500 18px/22px Slate Pro;
  color: #161C45;
  margin-top: 1rem;
  cursor: pointer;
}
.support-style .support-block #supportList .faQuestion-minus ::before {
  content: "-"; /* Insert content that looks like bullets */
  margin-right: 8px;
  color: #161C45;
}
.support-style .support-block #supportList .mobile-answers {
  display: none;
  font: normal 16px/19px Slate Pro;
  color: #1F2536;
}
.support-style .support-block #supportList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 801px) {
  .support-style .support-block #supportList {
    margin-bottom: 2.5rem;
  }
}
.support-style #international-inquiry, .support-style #contactUs, .support-style form {
  display: flex;
  flex-flow: column;
  max-width: 748px;
  margin: auto;
}
.support-style #international-inquiry label, .support-style #contactUs label, .support-style form label {
  color: #282828;
}
.support-style #international-inquiry input, .support-style #contactUs input, .support-style form input {
  color: #6D6D6D;
  height: 2rem;
  padding: 0.37rem 0.5rem;
  width: auto;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.support-style #international-inquiry input[type=submit], .support-style #contactUs input[type=submit], .support-style form input[type=submit] {
  color: #FFF;
  font-family: "Slate Pro", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.3s;
  max-width: 110px;
}
.support-style #international-inquiry input[type=submit]:hover, .support-style #contactUs input[type=submit]:hover, .support-style form input[type=submit]:hover {
  transition: 0.3s;
  background: #FF3635;
  color: #FFFFFF;
}
.support-style #international-inquiry input[type=submit]:active, .support-style #contactUs input[type=submit]:active, .support-style form input[type=submit]:active {
  transition: 0.3s;
  background: #BC4A4A;
}
    /*#endregion  FAQ/Support  */

    /*#region   */
    /*#endregion   */

    /*#region Video Review */  
    /* LG */
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .story-desc {
        min-height: 189px;
      }
    }

    /* XL */
    @media only screen and (min-width: 1200px) {
      .story-desc {
        min-height: 165px;
      }
    }

    .video-box {
      position: absolute;
      width: 100%;
      height: 100%;
      /* max-height: 180.08px; */
      cursor: pointer;
      max-width: 90% !important;
      padding-right: 25px !important;
      overflow: hidden !important;
      box-sizing: inherit !important;
      margin-left: auto !important;
      margin-right: auto !important;
      border-radius: 8px !important;
    }

    .video-box::after {
      display: none;
      content: "";
      width: 40px;
      height: 40px;
      background-image: url("data:image/svg+xml,%3Csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='24.8579' cy='25.0001' rx='13.2425' ry='13.2243' fill='white'/%3E%3Cpath d='M24.5002 0.819458C11.3292 0.819458 0.639771 11.4942 0.639771 24.6471C0.639771 37.7999 11.3292 48.4747 24.5002 48.4747C37.6711 48.4747 48.3606 37.7999 48.3606 24.6471C48.3606 11.4942 37.6711 0.819458 24.5002 0.819458ZM19.7281 35.3695V13.9247L34.0443 24.6471L19.7281 35.3695Z' fill='%235286F7'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      pointer-events: none;
      z-index: 10;
    }

    @media only screen and (max-width: 551px) {
      .video-box::after {
        width: 24px;
        height: 24px;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
      }
    }

    @media only screen and (min-width: 650px) {
      .video-box::after {
        width: 62px;
        height: 62px;
        top: calc(50% - 31px);
        left: calc(50% - 31px);
      }
    }
  
    /*#endregion Video Review  */