/*#region  Three-column-video*/
  /* LG */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .story-desc {
      min-height: 189px;
    }
  }

  /* XL */
  @media only screen and (min-width: 1200px) {
    .story-desc {
      min-height: 165px;
    }
  }

  .video-box {
    position: absolute;
    width: 100%;
    height: 100%;
    /* max-height: 180.08px; */
    cursor: pointer;
    max-width: 90% !important;
    padding-right: 25px !important;
    overflow: hidden !important;
    box-sizing: inherit !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 8px !important;
  }

  .video-box::after {
    display: none;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='24.8579' cy='25.0001' rx='13.2425' ry='13.2243' fill='white'/%3E%3Cpath d='M24.5002 0.819458C11.3292 0.819458 0.639771 11.4942 0.639771 24.6471C0.639771 37.7999 11.3292 48.4747 24.5002 48.4747C37.6711 48.4747 48.3606 37.7999 48.3606 24.6471C48.3606 11.4942 37.6711 0.819458 24.5002 0.819458ZM19.7281 35.3695V13.9247L34.0443 24.6471L19.7281 35.3695Z' fill='%235286F7'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    pointer-events: none;
    z-index: 10;
  }

  @media only screen and (max-width: 551px) {
    .video-box::after {
      width: 24px;
      height: 24px;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
    }
  }

  @media only screen and (min-width: 650px) {
    .video-box::after {
      width: 62px;
      height: 62px;
      top: calc(50% - 31px);
      left: calc(50% - 31px);
    }
  }
  /*#endregion  Three-column-video*/

  /*#region  Slideshow */
  .carousel-control-prev-icon,
  .carousel-control-next-icon{
      width: 40px;
      height: 40px;
      background-image: url('../eddie-pdp/img/slider-control.png');
  }
  .carousel-control-next-icon{
    transform: rotate(180deg);
  }

  .carousel-indicators li{
    width: 13px;
    height: 13px;
  }
   /*#endregion  Slideshow */

   /*#region  Bullet Img Right */

  /* circle number bullets */
.blue-circles li:before {
    background: #3185fc;
}

ol.circle-number-bullets {
    list-style: none;
}

.circle-number-bullets li {
    counter-increment: step-counter;
    position: relative;
}

.circle-number-bullets li:before {
    content: counter(step-counter);
    display: block;
    position: absolute;
    top: -1px;
    /* Adjust < -number | number+ > */
    left: -39px;
    width: 1.75rem;
    height: 1.75rem;
    line-height: 1.75rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border-radius: 100%;
}

.bg-blue-eddie{
  /* color for image bg */
  background-color: rgba(22, 28, 69, 1);
}
   /*#endregion  Bullet Img Right */

  /*#region  Carousel Right */ 
   .carousel-control-prev-icon,
   .carousel-control-next-icon{
       width: 40px;
       height: 40px;
       background-image: url('../eddie-pdp/img/slider-control.png');
   }
   .carousel-control-next-icon{
     transform: rotate(180deg);
   }
   /*#endregion Carousel Right */
 
    /*#region  Three Img Bullets */ 
    /* XS */
    @media only screen and (min-width: 375px) {
      .ul-bullets{
            padding-inline-start: 3px; 
        }
    }

    @media only screen and (min-width: 500px) {
      .ul-bullets{
        padding-inline-start: 40px; 

        }
    }
    /*#endregion Three Img Bullets */

    /*#region  Gif Bg */
    /* XS */
    @media only screen and (max-width: 575px) {
        .img-overlay-4{height: 112vw;}
        .img-overlay-4 .row{
        background-image: url('../eddie-img-bg/img/gif-xs-img.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    };
        }

    /* SM */
    @media only screen and (min-width: 576px) {
        .img-overlay-4{height: 86vw;}
        /* .img-overlay-4 img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay-4 .row{
            background-image: url('../eddie-img-bg/img/gif-sm-img.png');
            background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
    }

    /* MD */
    @media only screen and (min-width: 768px) {
        .img-overlay-4{height: 86vw;}
        /* .img-overlay-4 img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay-4 .row{
            background-image: url('../eddie-img-bg/img/gif-md-img.png');
         
        }
    }

    /* LG */
    @media only screen and (min-width: 992px) {
        .img-overlay-4{
            height: 27vw;
            max-height: 322px;
        }
        .img-overlay-4 .row{
            background-image: url('../eddie-img-bg/img/gif-lg-img.png');
            background-size: contain;
        }
    }

    /* XL */
    @media only screen and (min-width: 1200px) {
        .img-overlay-4 .row{
            background-image: url('../eddie-img-bg/img/gif-xl-img.png');
        }
    }
    /*#endregion  Gif Bg */

    /*#region  Live Care Bg */ 
    #live-care-btn{
        border-width: medium;
    }

 /* LG */
 @media only screen and (min-width: 992px) {
    #live-care-p{
            max-width: 370px;
        }
    }

    /* Code for IMAGES */
    /* XS */
    @media only screen and (max-width: 575px) {
        .img-overlay-3{height: 112vw;}
        .img-overlay-3 .row{
        background-image: url('../eddie-img-bg/img/care-advisor-xs-img.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    };
        }

    /* SM */
    @media only screen and (min-width: 576px) {
        .img-overlay-3{height: 86vw;}
        /* .img-overlay-3 img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay-3 .row{
            background-image: url('../eddie-img-bg/img/care-advisor-sm-img.png');
            background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
    }

    /* MD */
    @media only screen and (min-width: 768px) {
        .img-overlay-3{height: 86vw;}
        /* .img-overlay-3 img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay-3 .row{
            background-image: url('../eddie-img-bg/img/care-advisor-md-img.png');
         
        }
    }

    /* LG */
    @media only screen and (min-width: 992px) {
        .img-overlay-3{
            height: 27vw;
            max-height: 322px;
        }
        .img-overlay-3 .row{
            background-image: url('../eddie-img-bg/img/care-advisor-lg-img.png');
            background-size: contain;
        }
    }

    /* XL */
    @media only screen and (min-width: 1200px) {
        .img-overlay-3 .row{
            background-image: url('../eddie-img-bg/img/care-advisor-img.png');
        }
    }

    /*#endregion  Live Care Bg*/

    /*#region  Man Women Bg */
    /* XS */
    @media only screen and (max-width: 575px) {
        .img-overlay{height: 112vw;}
        .img-overlay .row{
        background-image: url('../eddie-img-bg/img/eddie-man-mobile-img.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    };
        }

    /* SM */
    @media only screen and (min-width: 576px) {
        .img-overlay{height: 86vw;}
        /* .img-overlay img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay .row{
            background-image: url('../eddie-img-bg/img/eddie-man-sm.jpg');
            background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
    }

    /* MD */
    @media only screen and (min-width: 768px) {
        .img-overlay{height: 86vw;}
        /* .img-overlay img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay .row{
            background-image: url('../eddie-img-bg/img/eddie-man-sm.jpg');
         
        }
    }

    /* LG */
    @media only screen and (min-width: 992px) {
        .img-overlay{
            height: 27vw;
            max-height: 322px;
        }
        .img-overlay .row{
            background-image: url('../eddie-img-bg/img/eddie-man-women-img.jpg');
            background-size: contain;
        }
    }

    /* XL */
    @media only screen and (min-width: 1200px) {
        .img-overlay .row{
            background-image: url('../eddie-img-bg/img/eddie-man-women-img.jpg');
        }
    }
    /*#endregion  Man Women Bg*/

    /*#region  Product Man */
    /* XS */
    @media only screen and (max-width: 575px) {
        .img-overlay-2{height: 112vw;}
        .img-overlay-2 .row{
        background-image: url('../eddie-img-bg/img/product-box-img.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    };
        }

    /* SM */
    @media only screen and (min-width: 576px) {
        .img-overlay-2{height: 86vw;}
        /* .img-overlay-2 img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay-2 .row{
            background-image: url('../eddie-img-bg/img/product-box-sm-img.png');
            background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
    }

    /* MD */
    @media only screen and (min-width: 768px) {
        .img-overlay-2{height: 86vw;}
        /* .img-overlay-2 img{content: url('../eddie-img-bg/img/eddie-man-sm.jpg')} */
        .img-overlay-2 .row{
            background-image: url('../eddie-img-bg/img/product-box-md-img.png');
         
        }
    }

    /* LG */
    @media only screen and (min-width: 992px) {
        .img-overlay-2{
            height: 27vw;
            max-height: 322px;
        }
        .img-overlay-2 .row{
            background-image: url('../eddie-img-bg/img/man-product-box-img.png');
            background-size: contain;
        }
    }

    /* XL */
    @media only screen and (min-width: 1200px) {
        .img-overlay-2 .row{
            background-image: url('../eddie-img-bg/img/man-product-box-2x-img.png');
        }
    }
    /*#endregion  Product Man */

    /*#region Three Img Right  */ 
    .hero-blue-bg{
      background-color: rgba(9, 33, 55, 1);
    }
    /*#endregion Three Img Right */

    /*#region  Two Img RIght */ 
    .hero-blue-bg{
      background-color: rgba(9, 33, 55, 1);
    }
    /*#endregion  Two Img Right */

    /*#region Eddie Four Img Grid */ 
    @media only screen and (min-width: 576px) {
      .hew-content div {max-width: 47%;}
    }
  
    @media only screen and (min-width: 992px) {
      .hew-content div {max-width: 23%;}
    }
    /*#endregion Eddie Four Img Grid */

    /*#region  Eddie Eight Img Grid */ 
    @media only screen and (min-width: 576px) {
      .hew-content div {max-width: 47%;}
    }
  
    @media only screen and (min-width: 992px) {
      .hew-content div {max-width: 23%;}
    }
    /*#endregion Eddie Eight Img Grid */

    /*#region  Jumbo Tron Icons */ 
   
    /*#region  Whats in the Box */
    @media only screen and (min-width: 992px) {
      #witb-img{
          content: url('../eddie-pdp/img/Flat-lay-desktop.png');
      }
  } 
    /*#endregion Whats in the Box */

     /*#region  Slider Left Info Right */
     #pdp-slider-pag-1{
      background-image: url('../eddie-pdp/img/1st-image.png');
      background-size: contain;
  }
  #pdp-slider-pag-2{
      background-image: url('../eddie-pdp/img/2nd-image.jpg');
      background-size: contain;
  }
  #pdp-slider-pag-3{
      background-image: url('../eddie-pdp/img/3rd-image.gif');
      background-size: contain;
  }
  #pdp-slider-pag-4{
      background-image: url('../eddie-pdp/img/4th-image.jpg');
      background-size: contain;
  }
  #pdp-slider-pag-5{
      background-image: url('../eddie-pdp/img/5th-image.jpg');
      background-size: contain;
  }

  #pdp-slider-acc .card-header {
      background-color: white;
      border: none;
      padding-left: 0;
  }
  #pdp-slider-acc .card {
      border: none;
  }
  .fas{
      color: #5286F7;
      font-size: 1em;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon{
      width: 40px;
      height: 40px;
      background-image: url('../eddie-pdp/img/slider-control.png');
  }
  .carousel-control-next-icon{
    transform: rotate(180deg);
  }
  /* SM */
  @media only screen and (min-width: 576px){
      
  }

  /* MD */
  @media only screen and (min-width: 768px) {
      
  }

  /* LG */
  @media only screen and (min-width: 992px) {
      .pdp-slider-inner{
          border-radius: 15px;
      }        

      .carousel-indicators{
          bottom: -120px;
      }

      .carousel-indicators li{
          width: 7vw;
          height: 7vw;

          max-width: 84px;
          max-height: 84px;

          flex: 1 0 auto;
          background-color: #aaa;
      }
  }

  /* XL */
  @media only screen and (min-width: 1200px) { 

  }
    /*#endregion  Slider Left Info Right */

     /*#region   */ 
    /*#endregion  */

     /*#region   */ 
    /*#endregion  */

     /*#region   */ 
    /*#endregion  */

     /*#region   */ 
    /*#endregion  */