{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
       <!-- STARTS CODE FOR EDDIE-MORE-INFO -->
 <section id="eddie-101" class="mx-auto mb-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">

          <!-- Starts Code for Accordion Title -->
        <h1 id="eddie-101-header">
          More information
        </h1>
          <!-- End Code for Accordion Title -->

          <!-- STARTS CODE FOR MORE INFO ACCORDION -->
        <div class="accodion mt-5 pl-0" id="accordionExample">

          <!-- Starts Wrapper Div -->
          <div class="d-flex card" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseFour"
            aria-expanded="false" aria-controls="collapseFour collapseIndicatorPlus">
            
            <!-- Starts Code for 1st Accordion Title -->
            <div class="card-header card-header-2" id="headingFour">
              <h2 class="mb-0">
                <div class="d-flex justify-content-between">
                  <p class="h-eddie">
                    Shipping*
                  </p>
                  <i class="fas fa-plus plus-btn"></i>
                </div>
              </h2>
            </div>
            <!-- Ends Code for 1st Accordion Title -->

            <!-- Starts Code for 1st Accordion P -->
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExamples">
              <!-- CARD BODY TEXT BEGINS -->
              <div class="card-body" id="subcontent-p">
                Your order will be fulfilled next business day and shipped for free via USPS First Class (estimated 5 to 7 business days). Express shipping via USPS Priority is also available for an additional fee.
              </div>
              <div class="card-body" id="subcontent-p">
                  *Please note that some delays may occur due to COVID or for purchases made around US Federal holidays.
                </div>
            </div>
            <!-- Ends Code for 1st Accordion P -->
          </div>
          <!-- Ends Wrapper Div -->

          <!-- Starts Code for Horizontal Line -->
          <hr />
          <!-- Ends code for Horizontal Line -->

           <!-- Starts 2nd Wrapper Div -->
          <div class="card">
            <div class="d-flex card" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
              aria-controls="collapseSix">

               <!-- Starts Code for 2nd Accordion Title -->
              <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                  <div class="d-flex justify-content-between">
                    <p class="h-eddie">What's the refund policy?</p>
                    <i class="fas fa-plus plus-btn"></i>
                  </div>
                </h2>
              </div>
              <!-- Ends Code for 2nd Accordion Title -->
            </div>
          
            <!-- Starts Code for 2nd Accordion P -->
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExamples">
              <!-- CARD BODY TEXT BEGINS -->
              <div class="card-body" id="subcontent-p">
                Eddie® is a medical device used during sexual activity, so we are unable to accept any devices that have been used or delivered. If you are unsatisfied with your purchase, we are happy to offer a refund for the full cost of your order, minus $25 per Eddie (as long as it's in the first 60 days of receiving your order.) This covers shipping, handling, fulfillment, and payment processing. Replacement tension bands and carrying cases are not eligible for refunds.
              </div>
              <div class="card-body" id="subcontent-p">
                If you are requesting a refund, we will ask that you submit a photo of all your Eddies cut in half before your refund is processed. (Standard household scissors should work.)
              </div>
              <div class="card-body" id="subcontent-p">
                For help with a refund, please reach out to us at <a href="mailto:customercare@eddiebygiddy.com"> customercare@eddiebygiddy.com</a>. For the fastest service, use the same email address you used to place your order.
              </div>
            </div>
            <!-- Ends Code for 2nd Accordion P -->

          </div>
          <!-- Ends 2nd Wrapper Div -->

          <!-- Starts Code for Horizontal Line -->
          <hr />
          <!-- Ends code for Horizontal Line -->
          
           <!-- Starts 3rd Wrapper Div -->
          <div class="card">
            <div class="d-flex card" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
              aria-controls="collapseSeven">

              <!-- Starts Code for 3rd Accordion Title -->
              <div class="card-header" id="headingSeven">
                <h2 class="mb-0">
                  <div class="d-flex justify-content-between">
                    <p class="h-eddie">What if I want a different size?</p>
                    <i class="fas fa-plus plus-btn"></i>
                  </div>
                </h2>
              </div>
              <!-- Ends Code for 3rd Accordion Title -->

              <!-- Starts Code for 3rd Accordion P -->
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                data-parent="#accordionExamples">
                <!-- CARD BODY TEXT BEGINS -->
                <div class="card-body" id="subcontent-p">
                  Giddy provides free resizes with all orders, which allows you to resize your Eddie for free, as many times as you need, as long as it’s a different size as your other orders!                  
                </div>
                <div class="card-body" id="subcontent-p">
                  For resizing:
                </div>
                <div class="card-body" id="subcontent-p">
                   <ol>
                     <li> Log into your account <a href="#">here</a>.</li> 
                     <li> Select “Eddie Resize” from the menu on the left.</li> 
                     <li>  Follow the instructions to complete your free resize order.</li> 
                   </ol>
                </div>
                <div class="card-body" id="subcontent-p">
                  OR
                </div>
                <div class="card-body" id="subcontent-p">
                  Reach out to us at <a href="mailto:customercare@eddiebygiddy.com"> customercare@eddiebygiddy.com</a>. For the fastest service, use the same email address you used to place your order.
                </div>
                <div class="card-body" id="subcontent-p">
                  If you request a refund after resizing your Eddie, you may be asked to submit a photo of all your Eddies cut in half, before your refund is processed. (Standard household scissors should work.)
                </div>
              </div>
              
              <!-- Ends Code for 3rd Accordion P -->

            </div>
          </div>
           <!-- Ends 3rd Wrapper Div -->

              <!-- Starts Code for Horizontal Line -->
              <hr />
              <!-- Ends code for Horizontal Line -->

           <!-- Starts 4th Wrapper Div -->
          <div class="card">
              <div class="d-flex card" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
                aria-controls="collapseEight">

                <!-- Starts Code for 4th Accordion Title -->
                <div class="card-header" id="headingEight">
                  <h2 class="mb-0">
                    <div class="d-flex justify-content-between">
                      <p class="h-eddie">Wearing Eddie<span class="resize-reg">®</span> </p>
                      <i class="fas fa-plus plus-btn"></i>
                    </div>
                  </h2>
                </div>
                <!-- Ends Code for 4th Accordion Title -->

                <!-- Starts Code for 4th Accordion P -->
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                  data-parent="#accordionExamples">
                  <!-- CARD BODY TEXT BEGINS -->
                  <div class="card-body" id="subcontent-p">
                    Eddie can be applied when your penis is flaccid (soft) or erect (hard).
                  </div>
                  <div class="card-body" id="subcontent-p">
                    Place Eddie at the base of your penis, in front of your testicles, with the opening facing down.                   
                   </div>
                   <div class="card-body" id="subcontent-p">
                    Wrap one of the tension bands around the ends of the device. Use the blue band for less constriction, or use the red band for maximum constriction.                   
                   </div>
                   <div class="card-body" id="subcontent-p">
                    For those with limited hand strength, an alternative method is to wrap the tension band around Eddie before placing it on your penis, then gently pull Eddie apart to create a wider opening, while sliding it down onto the base of your penis. You can also try covering the device in lubricant to assist.                  
                   </div>
                   <div class="card-body" id="subcontent-p">
                    Talk to your doctor before using Eddie. We recommend trying Eddie alone, first, before trying it with a partner, to become familiar with how it feels and works.                 
                   </div>
                </div>
                <!-- Ends Code for 4th Accordion P -->

              </div>
            </div>
             <!-- Ends 4th Wrapper Div -->

             <!-- Starts Code for Horizontal Line -->
             <hr />
             <!-- Ends code for Horizontal Line -->

              <!-- Starts 5th Wrapper Div -->
          <div class="card">
              <div class="d-flex card" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true"
                aria-controls="collapseNine">

                <!-- Starts Code for 5th Accordion Title -->
                <div class="card-header" id="headingNine">
                  <h2 class="mb-0">
                    <div class="d-flex justify-content-between">
                      <p class="h-eddie">The Stay-Giddy Plan</p>
                      <i class="fas fa-plus plus-btn"></i>
                    </div>
                  </h2>
                </div>
                <!-- Ends Code for 5th Accordion Title -->

                <!-- Starts Code for 5th Accordion P -->
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                  data-parent="#accordionExamples">
                  <!-- CARD BODY TEXT BEGINS -->
                  <div class="card-body" id="subcontent-p">
                    Reports show that less than 15% of people actually clean their sex health devices as recommended.                    
                  </div>
                  <div class="card-body" id="subcontent-p">
                    The Stay-Giddy Plan is our subscription option for Eddie. Sign up and automatically receive fresh Eddies and tension bands every 4 months. Your payment information on file will be charged the appropriate amount, and your Eddie and bands will be shipped for free in 3-5 business days.                    
                  </div>
                  <div class="card-body" id="subcontent-p">
                    Benefits of the Stay-Giddy Plan:
                  </div>
                  <div class="card-body" id="subcontent-p">
                    <ul>
                      <li>Saves you around 25% compared to a one-time purchase.</li>
                      <li>Keeps your Eddie and bands clean, safe, and pleasing to yourself and your partner.</li>
                      <li>Over time, with use, Eddie and the bands will stretch and lose tension. Replacing them regularly will maintain an optimal fit, feel, and results.</li>
                      <li>You can have extra Eddies and tension bands ready to go, and conveniently stored in various locations.</li>
                      <li>Replacing your Eddie and bands is recommended if you change sexual partners or you or your partner contract an STI.</li>
                    </ul>
                  </div>
                  <div class="card-body" id="subcontent-p">
                    To change or manage your Stay-Giddy plan, please login to your account.                    </div>
                </div>
                <!-- Ends Code for 5th Accordion P -->

              </div>
            </div>
             <!-- Ends 5th Wrapper Div -->

          <!-- Starts Code for Button -->
          <div class="get-eddie-btn">
            <button onclick="window.location.href='https://eddiebygiddy.com/support/';" class="btn btn-danger eddie-cta"
              role="button">
              SEE ALL FAQS
            </button>
          </div>
          <!-- Ends Code for Button -->

        </div>
        <!-- ENDS CODE FOR MORE INFO ACCORDION -->

      </div>
      <!-- CODE FOR IMAGE  -->
      <div class="col-md-6">
        <img class="rounded d-block w-100" src="../eddie-accordion/img/more-info-xl-img.png"
          alt="more-info-img" />
      </div>
      <!-- ENDS CODE FOR IMAGE -->

    </div>
  </div>

  <!-- Code for JS Close/Open Accord -->
  <!-- <script>
    $(".card-header-2").click(function () {
      $(this).find("i").toggleClass("fas fa-plus fas fa-minus");
    });
  </script> -->
  <!-- Ends Code for JS Close/Open Accord -->

</section>
<!-- EDDIE-101-IMG-RIGHT ENDS  -->

    {% endblock %}
  </div>
{% endblock paragraph %}
