{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
       <!-- EDDIE-101-IMG-RIGHT STARTS-->
 <section id="eddie-101" class="mx-auto mb-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
          <!-- Accordion Title Code -->
        <h1 id="eddie-101-header">
          Using Eddie<span class="resize-reg">®</span>
        </h1>
        <!-- Code for Accordion && 1st Accordion Dropdown -->
        <div class="accodion mt-5 pl-0" id="accordionExample">
          <div class="d-flex card" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseOne"
            aria-expanded="false" aria-controls="collapseOne collapseIndicatorPlus">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <div class="d-flex justify-content-between">
                  <p class="h-eddie">
                    How do you wear Eddie?
                  </p>
                  <i class="fas fa-plus plus-btn"></i>
                </div>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExamples">
              <!-- CARD BODY TEXT BEGINS -->
              <div class="card-body" id="subcontent-p">
                Eddie® is available in four sizes for a perfect fit: size A, B, C, and D,
                  which are capable of fitting approximately 98.99% of men. Eddie’s sizing
                  is determined by the girth (circumference) of your penis, and the frequency of ED symptoms.
              </div>
            </div>
          </div>
          <hr />
          <!-- Code for 2nd Accordion Dropdown -->
          <div class="card">
            <div class="d-flex card" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
              aria-controls="collapseTwo">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <div class="d-flex justify-content-between">
                    <p class="h-eddie">When do I put Eddie on?</p>
                    <i class="fas fa-plus plus-btn"></i>
                  </div>
                </h2>
              </div>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExamples">
              <!-- CARD BODY TEXT BEGINS -->
              <div class="card-body" id="subcontent-p">
                Place the device at the base of your penis and in front of the testicles,
                securing it with a tension band at both ends. When you’re all done,
                remove the tension band and slide the device off.
              </div>
            </div>
          </div>
          <hr />
          <!-- Code for 3rd Accordion Dropdown -->
          <div class="card">
            <div class="d-flex card" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
              aria-controls="collapseThree">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <div class="d-flex justify-content-between">
                    <p class="h-eddie">I have a medical condition. Will Eddie still work for me?</p>
                    <i class="fas fa-plus plus-btn"></i>
                  </div>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                data-parent="#accordionExamples">
                <!-- CARD BODY TEXT BEGINS -->
                <div class="card-body" id="subcontent-p">
                    Text for how eddie works dropdown section will go here when we have it from copyright.
                </div>
              </div>
            </div>
          </div>
          <hr />
           <!-- Code for 4th Accordion Dropdown -->
           <div class="card">
              <div class="d-flex card" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                aria-controls="collapseFour">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <div class="d-flex justify-content-between">
                      <p class="h-eddie">Can I use Eddie with pumps and pills?</p>
                      <i class="fas fa-plus plus-btn"></i>
                    </div>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                  data-parent="#accordionExamples">
                  <!-- CARD BODY TEXT BEGINS -->
                  <div class="card-body" id="subcontent-p">
                      Text for how eddie works dropdown section will go here when we have it from copyright.
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <!-- Code for 5th Accordion Dropdown -->
           <div class="card">
              <div class="d-flex card" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                aria-controls="collapseFive">
                <div class="card-header" id="headingFive">
                  <h2 class="mb-0">
                    <div class="d-flex justify-content-between">
                      <p class="h-eddie">Can I use lubricants with Eddie?</p>
                      <i class="fas fa-plus plus-btn"></i>
                    </div>
                  </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                  data-parent="#accordionExamples">
                  <!-- CARD BODY TEXT BEGINS -->
                  <div class="card-body" id="subcontent-p">
                      Text for how eddie works dropdown section will go here when we have it from copyright.
                  </div>
                </div>
              </div>
            </div>
            <hr />
             <!-- Code for 6th Accordion Dropdown -->
           <div class="card">
              <div class="d-flex card" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                aria-controls="collapseSix">
                <div class="card-header" id="headingSix">
                  <h2 class="mb-0">
                    <div class="d-flex justify-content-between">
                      <p class="h-eddie">How long can I wear Eddie?</p>
                      <i class="fas fa-plus plus-btn"></i>
                    </div>
                  </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                  data-parent="#accordionExamples">
                  <!-- CARD BODY TEXT BEGINS -->
                  <div class="card-body" id="subcontent-p">
                      Text for how eddie works dropdown section will go here when we have it from copyright.
                  </div>
                </div>
              </div>
            </div>
            <hr />
             <!-- Code for 7th Accordion Dropdown -->
           <div class="card">
              <div class="d-flex card" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                aria-controls="collapseSeven">
                <div class="card-header" id="headingSeven">
                  <h2 class="mb-0">
                    <div class="d-flex justify-content-between">
                      <p class="h-eddie">How do I clean my Eddie?</p>
                      <i class="fas fa-plus plus-btn"></i>
                    </div>
                  </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                  data-parent="#accordionExamples">
                  <!-- CARD BODY TEXT BEGINS -->
                  <div class="card-body" id="subcontent-p">
                      Text for how eddie works dropdown section will go here when we have it from copyright.
                  </div>
                </div>
              </div>
            </div>
            <!-- Code for Button -->
          <div class="d-none d-lg-block get-eddie-btn">
            <button onclick="window.location.href='https://eddiebygiddy.com/support/';" class="btn btn-danger eddie-cta"
              role="button">
              SEE ALL FAQS
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- CODE FOR IMAGE  -->
        <img class="rounded d-block w-100 mt-4 mt-md-5" src="https://giddywebhosting.blob.core.windows.net/image-assets/eddie-101-bs.jpg"
          alt="eddie-101-img" />
      </div>
    </div>
  </div>
  <!-- Code Script for +/- icons -->
  <!-- <script>
    $(".card-header").click(function () {
      $(this).find("i").toggleClass("fas fa-plus fas fa-minus");
    });
  </script> -->
</section>
<!-- EDDIE-101-IMG-RIGHT ENDS  -->
    {% endblock %}
  </div>
{% endblock paragraph %}
