<!-- Go Deeper -->
<div class="container-fluid py-4">
    <!-- GO DEEPER STARTS -->
    <div class="container three-col-dynamic">
  
      <div class="container col-md-12 px-0 d-none">
        <p class="text-center m-0">+</p>
        <h1 class="par-title text-center">Go Deeper</h1>
        <span class="d-block mb-3 par-byline text-center text-secondary mx-auto">Discover just how simple it is to get acquainted with Eddie<span class="resize-reg">&reg;</span>.</span>
        <div class="container mx-auto row d-md-flex col-md-12 px-md-0 justify-content-between">
          <div
            class="w-30 container d-flex flex-column justify-content-between col-lg-4 col-md-4 col-sm-12 col-xs-12 py-sm-3 px-md-0">
            <img class="img-hiw wistia_click_to_play w-100"
              src="https://giddywebhosting.blob.core.windows.net/image-assets/how-it-works-1-bs.png"
              alt="how-it-works-img" />
              <p class="text-center py-2 col-title lead mb-0 font-weight-bold">How it works</p>
              <p class="text-center col-body">temp</p>
            <!-- </div> -->
          </div>
          <div class="w-30 container d-flex flex-column col-lg-4 col-md-4 col-sm-12 col-xs-12 py-sm-3 px-md-0">
            <img class="img-hiw wistia_click_to_play w-100"
              src="https://giddywebhosting.blob.core.windows.net/image-assets/staying-hard-vid-2-bs.png"
              alt="how-it-works-img" />
              <p class="text-center py-2 col-title lead mb-0 font-weight-bold">How to wear</p>
              <p class="text-center col-body">temp</p>
          </div>
          <div class="w-30 container d-flex flex-column col-lg-4 col-md-4 col-sm-12 col-xs-12 py-sm-3 px-md-0">
            <img class="img-hiw wistia_click_to_play w-100"
              src="https://giddywebhosting.blob.core.windows.net/image-assets/staying-hard-vid-3-bs.png"
              alt="how-it-works-img" />
              <p class="text-center py-2 col-title lead mb-0 font-weight-bold">How to size</p>
              <p class="text-center col-body">temp</p>
            <!-- <p>Text goes here</p> -->
          </div>
        </div>
      </div>

      <div class="container col-md-12 px-0 ">
        <p class="text-center m-0">+</p>
        <h1 class="par-title text-center">Go Deeper</h1>
        <span class="d-block mb-3 par-byline text-center text-secondary mx-auto">Discover just how simple it is to get acquainted with Eddie<span class="resize-reg">&reg;</span>.</span>
        <div class="container mx-auto row d-md-flex col-md-12 px-md-0 justify-content-between">
          <div
            class="w-30 container d-flex flex-column justify-content-between col-lg-4 col-md-4 col-sm-12 col-xs-12 py-sm-3 px-md-0">
            <img class="img-hiw wistia_click_to_play w-100"
              src="https://giddywebhosting.blob.core.windows.net/image-assets/how-it-works-1-bs.png"
              alt="how-it-works-img" />
              <p class="py-2 col-title lead mb-0 font-weight-bold">Multivitamin Foer Person</p>
              <p class="col-body">The specially-formulated capsule designed to help men get the essential nutrients for a healthier life.</p>
              <p class="col-price font-weight-bold">$33.00</p>
              <a href="#" class="btn shop-btn rounded-pill px-4 w-100">Buy Now</a>
            <!-- </div> -->
          </div>
          <div class="w-30 container d-flex flex-column col-lg-4 col-md-4 col-sm-12 col-xs-12 py-sm-3 px-md-0">
            <img class="img-hiw wistia_click_to_play w-100"
              src="https://giddywebhosting.blob.core.windows.net/image-assets/staying-hard-vid-2-bs.png"
              alt="how-it-works-img" />
              <p class="py-2 col-title lead mb-0 font-weight-bold">Multivitamin Foer Person</p>
              <p class="col-body">Loaded with saw palmetto, stinging nettle, and pygeum to help shrink prostate size, improve urinary flow and lessen ED symptoms.</p>
              <p class="col-price font-weight-bold">$33.00</p>
              <a href="#" class="btn shop-btn rounded-pill px-4 w-100">Buy Now</a>
          </div>
          <div class="w-30 container d-flex flex-column col-lg-4 col-md-4 col-sm-12 col-xs-12 py-sm-3 px-md-0">
            <img class="img-hiw wistia_click_to_play w-100"
              src="https://giddywebhosting.blob.core.windows.net/image-assets/staying-hard-vid-3-bs.png"
              alt="how-it-works-img" />
              <p class="py-2 col-title lead mb-0 font-weight-bold">Multivitamin Foer Person</p>
              <p class="col-body">Full of ashwagandha, vitamin D3, and longjack. Give your sex life the boost you've been wanting.</p>
              <p class="col-price font-weight-bold">$33.00</p>
              <a href="#" class="btn shop-btn rounded-pill px-4 w-100">Buy Now</a>
            <!-- <p>Text goes here</p> -->
          </div>
        </div>
      </div>
    </div>
    <style>
        .shop-btn{
            width: fit-content;
            white-space: nowrap;
            background-color: aquamarine;
        }
        .shop-btn::after{
            content: '+';
            font-weight: bold;
            color: #67e4b7;
            margin-left: 5%;
        }
      @media only screen and (min-width: 768px) {
        .img-hiw{
          max-width: 390px;
        }
        
        .w-30{
            width: 30%;
            max-width: unset;
            margin: 0;
            flex: none;
        } 
      }
    </style>
    <!-- GO DEEPER ENDS -->
  </div>